@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

body{
    font-family: 'Merriweather', serif;
    
    
    text-align: center;
    color: hotpink;
    user-select: none;
    padding-top: 5vh;
    margin: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ccc;
}
h2{
    font-size: 150px;
    margin: 0;
    text-shadow: 15px 5px 2px black;
}
h3{
    font-size: 40px;
    margin: 20px;
}